.banner {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-item {
  width: 400px;
  max-height: 200px;
}

.banner-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
