.heading {
  background-color: var(--color-primary);
  color: white;
  padding-left: 5px;
}

.heading-side {
  background-color: rgba(0, 0, 0, 0.213);
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateX(-200%);
}
