.product-title {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 15px;
}

.product-item {
  background-color: white;
  overflow: hidden;
  border-radius: 3px;
}

.product-image {
  max-width: 100%;
  height: 192px;
}

.product-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-name {
  padding: 15px 0 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
  line-height: 18px;
}

.product-cate {
  width: 100%;
  text-align: center;
}

.product-cate > img {
  max-width: 100%;
  height: 45px;
  object-fit: cover;
}
