.side-nav {
  position: fixed;
  background-color: white;
  z-index: 999;
  top: 0;
  height: 100%;
  width: 300px;
}

.side-nav-icon {
  position: absolute;
  right: 0;
  display: block;
  padding: 10px;
  font-size: 20px;
}

.side-nav-item {
  margin-top: 30px;
  list-style: none;
  text-transform: capitalize;
}
