body {
    background: #f5f5f5;
    font-family: "Arial", "Times New Roman", Times, serif;
    width: 100vw;
}
.zaui-page > .container > div img, .zaui-page > .container > div input {
    width: 100% !important;
    height: auto !important;
}
.news-container-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;


}
.news-container-title span {
    color: red;
}

.news-content:hover {
    -moz-box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.12);
}

.news-content {
    margin-top: 20px;
}
.news-content .new-content-up {
    background: #fff;
    object-fit: scale-down;
    width: 100%;
}

.news-content .new-content-up .image-blog {
    cursor: pointer;
}

.news-content .new-content-up .createAt-blog {
    background: #fff;
    padding: 10px 20px 8px 20px;
    font-size: 15px;
    width: 100%;
    color: #666;
    text-align: center;
    margin-top: 16px;
}

.news-content .new-content-down {
    background: #fff;
    padding: 25px;
    float: left;
    width: 100%;
    text-align: center;
}

.news-content .new-content-down .content-title {
    font-size: 20px;
    font-weight: bold;
}

.news-content .new-content-down .content-title :hover {
    color: red;

}